.container {
  align-items: center;
  justify-content: center;
  margin: 15px;
}

input {
  padding: 10px;
  margin-right: 15px;
  border-radius: 20px;
}

button {
  margin: 5px;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.delete:hover {
  color: white;
  background-color: red;
}

button:hover {
  color: white;
  background-color: green;
}